body{
    background-color: color-mix(in srgb, rgb(41, 41, 202) 50%, rgb(192, 34, 34) 50%);
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Times New Roman';
    color: whitesmoke;
}

input,label, button{
    color: black;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 2px 2px;
}