body{
    background-color: gray;
    text-align: center;
    font-size: 1.3rem;
    color: whitesmoke;
    font-family: 'Times New Roman';
}

input, select, button{
    background-color: black;
    border-radius: 6px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 2px 2px;
}